.app-layout {
	display: flex;
	align-items: flex-start;
}

.awt-view {
	word-break: break-word;
}

.sidebar {
	width: min(20vw, 20rem);
	height: 100vh;

	padding-left: 0 !important;

	overflow: scroll;
}