.app-layout {
	display: flex;
	align-items: flex-start;
}

.sidebar {
	width: min(20vw, 20rem);
	height: 100vh;

	border-left: 1px solid var(--color-frame-border);

	overflow: scroll;

	.wrapper {
		padding: var(--spacing-md);
	}
}