html,
body {
	width: 100%;
	height: 100%;

	padding: 0;
	margin: 0;

	display: flex;
	align-items: flex-start;
	justify-content: center;

	font-family: Georgia, serif;
	line-height: 1.5;
	font-size: 1.25rem;
	color: #d1d1d1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background: rgb(16, 21, 24);
}

section {
	width: 100%;
	max-width: 50rem;

	padding: 0 2rem;
	margin: 0 auto;
	box-sizing: border-box;
}

section.debug-active .container {
	border-left-color: hsla(312, 98%, 55%, 0.75);
}

hr {
	opacity: 0.2;
}

.container {
	border-left: 1px dashed transparent;
}

.button-group {
	width: 100%;
	padding: 1rem 0 ;
}

button {
	padding: 0.5rem 0.75rem;

	border: none;
	border-radius: 0.25rem;
	outline: none;

	color: white;
	font-weight: bold;

	cursor: pointer;

	background: #b83232;
}

button:not(:first-child) {
	margin-left: 1rem;
}

button.enabled {
	background: #32b85a;
}

blockquote {
	margin: 0;
	padding: 1rem 2rem;

	font-style: italic;
	letter-spacing: 0.005rem;

	color: #5a9ab8;

	border-left: 3px solid #2590cd;

	background: rgb(25, 34, 43);
}

code {
	padding: 0 0.2rem;
	border-radius: 0.25rem;

	font-family: monospace;
	font-size: 1rem;

	background: #122e3d;
}